.row{
    display: flex;
}
/* 
input.big::placeholder{
    color:lime;
}

input.small::placeholder{
    color:blue;
} */

body{
    padding: 10px;
}

.kek{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
}
h1{
    font-size: 0.9em;
    margin-right:10px;
}
button{
    margin-right: 50px;
}